<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
      integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>Sample Customer Entry Form</h1>
    <form action="/clients/add-to" method="POST">
      <div>
        <input
          type="text"
          id="firstName"
          name="firstName"
          placeholder="First Name"
          required
        />
      </div>
      <div>
        <input
          type="text"
          id="lastName"
          name="lastName"
          placeholder="Last Name"
          required
        />
      </div>
      <div>
        <input
          type="text"
          id="addressLine1"
          name="addressLine1"
          placeholder="Address Line 1"
          required
        />
      </div>
      <div>
        <input
          type="text"
          id="addressLine2"
          name="addressLine2"
          placeholder="Address Line 2"
        />
      </div>
      <div>
        <input
          type="text"
          id="city"
          name="city"
          placeholder="City"
          required
        />
      </div>
      <div>
        <input
          type="text"
          id="state"
          name="state"
          placeholder="State"
          required
        />
      </div>
      <div>
        <input
          type="number"
          id="zipCode"
          name="zipCode"
          placeholder="Zip Code"
          required
        />
      </div>
      <div>
        <input
          type="text"
          id="country"
          name="country"
          placeholder="Country"
          required
        />
      </div>
      <div>
        <input type="submit" value="Add-Client">
      </div>
    </form>
  </body>
</html>
